:root {
  --bulma-primary: #3d8720;
  --bulma-primary-h: 103deg;
  --bulma-primary-s: 61.7%;
  --bulma-primary-l: 32.7%;
  --bulma-primary-on-scheme-l: 21%;
  --bulma-primary-on-scheme: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-on-scheme-l), 1);

  --bulma-link-h: var(--bulma-primary-h);
  --bulma-link-s: var(--bulma-primary-s);
  --bulma-link-l: var(--bulma-primary-l);
  --bulma-link-text: hsl(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-l));

  --bulma-family-primary: Fira Sans,
    Inter,
    SF Pro,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  --bulma-family-secondary: var(--bulma-family-primary);

  --bulma-title-weight: --bulma-weight-medium;
  --bulma-notification-padding: --bulma-size-7 --bulma-size-5;
  --bulma-navbar-burger-color: --bulma-white;
  --bulma-navbar-item-color: --bulma-white;

  font-family: var(--bulma-family-primary);
}

body {
  @font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/firasans-regular.woff2') format('woff2') url('/fonts/firasans-regular.woff') format('woff');
  }

}

article.content {
  min-height: 40vh;
}

.nova-podkasto article {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
}

a {
  color: var(--bulma-link-text);
}

.navbar {
  min-height: initial;

  .navbar-burger {
    color: var(--bulma-white);
    position: absolute;
    right: 0;
    z-index: calc(1 + var(--bulma-navbar-z));
  }
}

.title sub {
  --bulma-title-sub-size: 0.6em;
  margin-top: -8px;
}

.hero {
  background-image: url(../img/surbendigo.jpg);
  background-size: cover;
  background-position-y: 45%;

  .image {
    margin: 0 auto;
    box-shadow: 0 0 18px hsla(69, 100%, 40%, 70%)
  }

  h2.subtitle {
    margin-top: 1rem;
  }

  .navbar-menu {
    visibility: hidden;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    /* fixes */
    background: none;
    box-shadow: none;
    text-align: center;

    /* transition */
    height: 0px;
    opacity: 0%;
    transition: height 0.3s ease-out, opacity 0.4s;


    &.is-active {
      visibility: visible;
      opacity: initial;
      height: calc(4 * 2.4em);
      max-height: 160px;

      .navbar-item {
        border-radius: 2px;
        padding: 2px;
        width: 50%;
        margin: 2px auto;
        background-color: rgba(255, 255, 255, 20%);
      }
    }

    .navbar-item {
      flex-grow: 1;
    }
  }
}


figure a:focus {
  outline: none;
}

.hero-body {

  h1,
  h2 {
    font-weight: var(--bulma-weight-normal);
  }

  .title a {
    color: var(--bulma-white);
    line-height: 0.8em;
  }
}

}

.navbar-menu {
  color: var(--bulma-navbar-item-color);

  @media screen and (max-width: 769px) {
    text-align: center;
    background: rgba(0, 0, 0, 0.08) !important;
  }

  @media screen and (min-width: 1024px) {
    background: linear-gradient(to right, var(--bulma-primary) 0%, var(--bulma-primary-dark) 87%);
  }
}

.navbar-link {
  &::after {
    border-color: white;
    opacity: .5;
  }
}


.is-rounded {
  border-radius: 1024px;
}

main>article {
  order: 1;
}

.menu {

  @media screen and (min-width: 1280px) {
    order: 0;
  }

  a.is-disabled {
    cursor: default;
    opacity: .5;
    background-color: inherit;
    color: inherit;
  }
}

.section {
  .section {
    @media screen and (min-width: 768px) {
      padding: 1rem 0;
    }
  }

  .content {

    h1,
    h2 {
      font-weight: var(--bulma-weight-normal);
    }
  }
}

.play-button {
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  opacity: 0.8;

  .fa-play {
    font-size: 5rem;
    margin-left: 1rem;
    color: white;
  }
}

.home-box {
  padding: 2.5em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.hero-pattern {
  background-color: #f6fbf5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239bd385' fill-opacity='0.22'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.notification {
  margin-bottom: 0 !important;
}

.player {
  padding: 4rem 3rem;

  @media screen and (min-width: 768px) {
    padding: 2rem 0.75rem;
  }

  audio {
    width: 100%;
  }
}

.media {
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: --bulma-size-2;
    font-weight: --bulma-weight-light;
  }
}

.description {
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 2rem;
    font-size: 1.3rem;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.comments {
  figure {
    margin: 0;
    margin-right: 1rem;
  }
}
