{% set p = config.extra.support[platform] %}
<article class="media my-6" style="border: none;">
  <figure class="media-left">
    <a class="image is-64x64" target="_blank" href="{{ p.url }}">
      <img src="/img/{{ p.img }}" />
    </a>
  </figure>
  <div class="media-content is-flex is-flex-direction-column is-justify-content-center" style="min-height: 64px">
    <p class="content has-text-centered is-size-5">
      Subtenu LaBoRen ĉe <a target="_blank" href="{{ p.url }}">{{ p.label }}</a>
    </p>
  </div>
</article>
