<footer class="footer is-primary">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>La Bona Renkontiĝo</strong> de
        <a target="_blank" href="https://stelachiamnurkritikas.wordpress.com/">
          Stela Besenyei-Merger
        </a>
      </p>
      <p class="title">
        <a target="_blank" href="https://twitter.com/lbr_eo"><i class="fab fa-twitter" title="Twitter @lbr_eo"></i></a>
        <a target="_blank" href="https://facebook.com/laborenpodkasto"><i class="fab fa-facebook-square" title="Facebook /laborenpodkasto"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/ebmerger/"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="/rss.xml"><i class="fas fa-rss"></i></a>
        <a target="_blank" href="https://paypal.me/laboren/20"><i class="fab fa-paypal" title="Paypal"></i></a>
      </p>
      <p class="is-italic">
        La enhavo estas sub la licenco <i class="fab fa-creative-commons"></i>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.eo">
          Atribuite-Samkondiĉe 4.0 Tutmonda (CC BY-SA 4.0)
        </a>
      </p>
    </div>
  </div>
</footer>
