{% import "snippets/navbar.html" as navbar %}
<header class="hero is-link">
  <div class="hero-head">
    {{ navbar::with(id="nav-menu-mobile") }}

  </div>
  <div class="hero-body">
    <div class="columns">
      <figure class="column is-2">
        <a href="/"><img alt="" class="image is-128x128 is-rounded" src="/img/laboren-logo.svg"></a>
      </figure>
      <div class="column is-10">
        <p class="title">
          <a href="/">La Bona Renkontiĝo <span class="subtitle">kun&nbsp;Stela</span></a>
        </p>
        <h2 class="subtitle mt-5">
          Lernu organizi Esperanto-renkontiĝojn aŭskultante podkastojn!
        </h2>
      </div>
    </div>
  </div>
</header>

{{ navbar::with(id="nav-menu-desktop") }}