{% macro form(form_id) %}
<form method="POST" id="{{ form_id }}" name="abonantoj" class="form__subscribe"
  action="https://laboren.us10.list-manage.com/subscribe/post">
  <input type="hidden" name="u" value="44715f3ddde150204be310bdb">
  <input type="hidden" name="id" value="9e90982f11">

  <!-- homoj ne devas plenigi ĉi tiujn kaj atendi bonajn aferojn -->
  <div style="position:absolute;top:-1887em" aria-label="Please leave the following three fields empty">
    <label for="b_name_{{ form_id }}">Name: </label>
    <input type="text" name="b_name" tabindex="-1" value="" placeholder="Ludviko" id="b_name_{{ form_id }}">

    <label for="b_email_{{ form_id }}">Email: </label>
    <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com"
      id="b_email_{{ form_id }}">

    <label for="b_comment_{{ form_id }}">Comment: </label>
    <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment_{{ form_id }}"></textarea>
  </div>

  <div class="field">
    <label for="MERGE0" class="label">
      Eksciu pri novaj epizodoj kaj pli retpoŝte
    </label>
    <div class="control has-icons-left mb-4">
      <input name="MERGE0" id="MERGE0" class="input is-medium" type="email" autocapitalize="off" size="25" value=""
        maxlength="254" placeholder="via.adreso@ekzemplo.com"
        oninvalid="this.setCustomValidity('Vi devas entajpi vian retadreson')" required>
      <span class="icon is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>

    <div class="field">
      <label for="MERGE1" class="label">Persona nomo</label>
      <div class="control has-icons-left">
        <input name="MERGE1" id="MERGE1" type="text" class="input is-medium" size="25" placeholder="Klara" value="">
        <span class="icon is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

  </div>
  <p class="help">
    Vi ne ŝatas spamon? Nek ni!
    Vi ricevos sciigon nur pri la novaj epizodoj,
    retaj kaj personaj okazaĵoj rilate al #LaBoRen.
  </p>

</form>
{% endmacro form %}

{% macro pagination(page) %}
<nav class="space-between" role="navigation" aria-label="pagination">
  {% if page.lighter %}
  <a href="{{ page.lighter.permalink | safe }}" class="button is-white has-text-grey"
    title="{{ page.lighter.title | safe }}">
    <span class="icon is-small">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Antaŭa <span class="is-hidden-mobile">epizodo</span></span>
  </a>
  {% endif %}

  {% if page.heavier %}
  <a href="{{ page.heavier.permalink | safe }}" class="button is-white has-text-grey"
    title="{{ page.heavier.title | safe }}">
    <span>Venonta <span class="is-hidden-mobile">epizodo</span></span>
    <span class="icon is-small">
      <i class="fas fa-arrow-right"></i>
    </span>
  </a>
  {% endif %}
</nav>
{% endmacro pagination %}

{% macro comment(comment) %}
<div id="c{{ comment.pk }}" class="media">
  <figure class="media-left">
    <p class="image is-64x64" style="background-color:{{ comment.color }}">
      {{ comment.name | truncate(length=1, end="") | capitalize }}</p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ comment.name }}</strong>
        <small title="{{ comment.submit_date | date(format=" %Y-%m-%d %H:%M:%S") }}">{{ comment.submit_date |
          date(format="%d-%m-%Y %H:%M") }}</small>
        <br>
        {{ comment.comment | safe }}
      </p>
    </div>
  </div>
</div>
{% endmacro comment %}
