<aside class="menu column is-one-third">
  <p class="has-text-centered mb-6">
    <a href="/subteno" class="button is-medium is-warning" style="background-color: #ffdd57;">
      <span>Subtenu</span>
      <span class="icon has-text-danger">
        <i class="fas fa-heart"></i>
      </span>
    </a>
  </p>

  {% set section = get_section(path="podkastoj/_index.md") %}
  {% for p in section.subsections | reverse %}
  {% set subsection = get_section(path=p) %}
  <p class="menu-label"> {{ subsection.title | safe }} </p>
  <ul class="menu-list">
    {% for page in subsection.pages | reverse %}
    {# Episode number or page.weight is not available #}
    {% set number = page.slug | split(pat="-") | first %}
    <li>
      <a href="{{ page.permalink | safe }}" {% if current_path==page.path %}class="is-active" {% endif %}>
        {{ number }} – {{ page.title | safe }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</aside>