{% import "snippets/includes.html" as includes %}

<div id="modal-aboni" class="modal">
  <div class="modal-background"></div>

  <aside class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title">Hej! Dankon ke vi estas ĉi tie!</p>
      <a class="delete modal__close" aria-label="close"></a>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h4 class="h4">
          Antaŭ vi forlasas la retpaĝon, ni restu retamikoj? 💌
        </h4>

        {{ includes::form(form_id="modal-form") }}
      </div>
    </section>
    <footer class="modal-card-foot space-between">
      <a class="button modal__never_again">Mi jam abonas</a>

      <button class="button is-primary" type="submit" form="modal-form">Amiko!</button>
    </footer>
  </aside>
</div>