{% macro with(id) %}
<nav class="navbar is-link">
  {% if id is ending_with('mobile') %}
  <a role="button" class="navbar-burger" data-target="{{ id }}" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  {% endif %}

  <div id="{{ id }}" class="navbar-menu{% if id is ending_with('desktop') %} navbar-end{% endif %}">
    {% for item in config.extra.menu %}
    <a class="navbar-item" href="/{{ item.url }}">{{ item.label }}</a>
    {% endfor %}
  </div>
</nav>
{% endmacro %}