<section class="section nova-podkasto">
  <h4>Ĉu vi volas aŭskulti pli?</h4>

  <h5><a href="{{ config.extra.spotify.creators_url }}">Aŭskultu
      la novajn epizodojn sur <i>Spotify for Creators</i>
    </a></h5>

  {% set feed = load_data(url=config.extra.spotify.anchorfm_feed, format="xml") %}

  {% for episode in feed.rss.channel.item %}
  <aside class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <a href="{{ episode.link }}">
              <img src="{{ config.extra.spotify.img_small }}" alt="">
            </a>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-6"><a href="{{ episode.link }}">{{ episode.title }}</a></p>
        </div>
        <div class="media-right">
          <p class="subtitle is-7">
            <time class="rfc2822-date" datetime="{{ episode.pubDate }}"></time>
          </p>
          <p class="subtitle is-6 is-pulled-right has-text-grey-light">
            {{ episode.duration | replace(from="00:", to="") }}
          </p>
        </div>
      </div>
      <div class="content">
        <article>
          {{ episode.summary | safe }}
        </article>
      </div>
  </aside>
  {% endfor %}
</section>