{% import "snippets/includes.html" as includes %}
{% extends "index.html" %}

{% block article %}
{% set current_path = "/" %}
    <h1 class="title has-text-centered is-huge mt-6">¯\_(ツ)_/¯</h1>
    <p></p>
    <h2 class="subtitle has-text-centered">Paĝo ne trovita</h2>
{% endblock %}
