{% extends "index.html" %}
{% import "snippets/includes.html" as includes %}

{% block head_title %}{{ page.title | safe }} - {{ super() }}{% endblock head_title %}

{% block content %}
<article class="content column is-two-thirds">
  <h1 class="title">{{ page.title | safe }}</h1>

  <p class="columns">
  <div class="player hero-pattern box column">
    <audio controls>
      {% if page.extra.ogg.filename %}
      <source src="https://laboren-epizodoj.s3.fr-par.scw.cloud/{{ page.extra.ogg.filename | safe }}" type="audio/ogg">
      {% endif %}
      {% if page.extra.mp3.filename %}
      <source src="https://laboren-epizodoj.s3.fr-par.scw.cloud/{{ page.extra.mp3.filename | safe }}" type="audio/mp3">
      {% endif %}
      {% if page.extra.mp3_lofi.filename %}
      <source src="https://laboren-epizodoj.s3.fr-par.scw.cloud/{{ page.extra.mp3_lofi.filename | safe }}"
        type="audio/mp3">{% endif %}
    </audio>
  </div>
  </p>

  {{ includes::pagination(page=page) }}

  <section class="description">
    {{ page.content | safe }}
  </section>

  <aside class="columns has-text-centered">
    {% if page.extra.mp3 %}
    <div class="column">
      <a href="https://laboren-epizodoj.s3.fr-par.scw.cloud/{{ page.extra.mp3.filename | safe }}" class="button"
        download="LaBoRen-P{{ page.path | slugify }}.mp3">
        <span class="icon"> <i class="fas fa-music"></i> </span>
        <span>Elŝutu altkvalitan MP3 ({{ page.extra.mp3.size|filesizeformat }})</span>
      </a>
    </div>
    {% endif %}
    {% if page.extra.mp3_lofi %}
    <div class="column">
      <a href="https://laboren-epizodoj.s3.fr-par.scw.cloud/{{ page.extra.mp3_lofi.filename | safe }}" class="button"
        download="LaBoRen-P{{ page.path | slugify }}-malpeza.mp3">
        <span class="icon"> <i class="fas fa-headphones"></i> </span>
        <span>Elŝutu malpezan MP3 ({{ page.extra.mp3_lofi.size|filesizeformat }})</span>
      </a>
    </div>
    {% endif %}
  </aside>

  {% if page.extra.comments %}
  {% for comment in page.extra.comments %}
  {{ includes::comment(comment=comment) }}
  {% endfor %}
  <hr>
  <div style="width: 100%" class="has-text-centered is-italic">
    <span class="has-text-gray ">Ne plu eblas komenti ĉi tie. Vi tamen daŭre povas <a
        href="https://laboren.telegramo.org/">diskuti en Telegramo</a>!</span>
  </div>
  {% endif %}

  {{ includes::pagination(page=page) }}

</article>
{% endblock content %}