{% import "snippets/includes.html" as includes %}
{% extends "index.html" %}

{% block article %}
<h1 class="title has-text-centered">Aŭskultu la plej novan epizodon nun!</h1>
<div class="box home-box hero-pattern">
  {% set last_episode = section.pages | filter(attribute="date") | sort(attribute="date") | last %}
  <h2 class="title is-primary has-text-centered"><a href="{{ last_episode.permalink | safe }}">Parto {{
      last_episode.path | slugify | split(pat="-") | first }} {{ last_episode.title | safe }}</a></h2>
  <p class="has-text-centered">
    <a class="play-button button is-primary is-paddingless is-rounded" href="{{ last_episode.permalink | safe }}?ludu">
      <i class="fas fa-play"></i>
    </a>
  </p>
</div>

{% include "snippets/laudoj.html" %}

<section class="section" id="aboni">
  <h2 class="has-text-centered subtitle">Aboni</h2>
  <div class="box">
    {{ includes::form(form_id="footer-form") }}
    <div class="has-text-right">
      <button class="button is-primary is-medium" form="footer-form" type="submit">Sendi</button>
    </div>
  </div>
</section>
{% endblock article %}