{% import "snippets/navbar.html" as navbar %}
<!DOCTYPE html>
<html lang="{{ config.default_language }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>{# Redirect to main domain, should stay on localhost #} {% set origin = config.base_url %}
    if (window.location.origin != "{{ origin | safe }}") {
      window.location.href = "{{ origin | safe }}" + window.location.pathname
    }
  </script>

  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.css" as="style">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/dayjs@1.11.13/dayjs.min.js" as="script">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/dayjs@1.11.13/locale/eo.js" as="script">
  <link rel="preload" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css" as="style">
  <link rel="preload" href="/css/laboren.css?v={{ now() | date(format='%Y%m%d-%H%M') }}" as="style">
  <link rel="preload" href="/js/navbar.js" as="script">
  <link rel="preload" href="/js/date-formatter.js" as="script">
  <link rel="preload" href="/img/surbendigo.jpg" as="image">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
  <link rel="stylesheet" href="/css/laboren.css?v={{ now() | date(format='%Y%m%d-%H%M') }}">

  <link rel="alternate" type="application/rss+xml" title="La Bona Renkontiĝo" href="/rss.xml">
  {% include "snippets/favicons.html" %}

  <title>{% block head_title %}{{ config.title | safe }}{% endblock head_title %}</title>
</head>

<body>
  {% include "snippets/header.html" %}
  <main class="section columns">
    {% block content %}
    <article class="content column is-two-thirds">
      {% block article %}{{ section.content | safe }}{% endblock %}
    </article>
    {% endblock content %}

    {% include "snippets/menu.html" %}
  </main>
  {% include "snippets/modal_subscribe.html" %}

  {% include "snippets/footer.html" %}

  <script src="/js/navbar.js"></script>
  <script src="/js/modal.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.13/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.13/locale/eo.js"></script>
  <script src="/js/date-formatter.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js"></script>
  <script> window.addEventListener('load', () => {quicklink.listen();}); </script>
  {% include "snippets/google_analytics.html" %}
</body>

</html>
